* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(23, 23, 23);
  color: rgb(237, 237, 237);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  padding: 10px 0;
}

.todo-input-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.todo-input-wrapper input {
  /* height: 50px; */
  width: 320px;
  font-size: 28px;
  background-color: rgb(12, 12, 12);
  border: 1px solid white;
  color: white;
  padding: 8px;
  border-radius: 8px;
}

.todo-input-wrapper button {
  padding: 0 28px;
  font-size: 24px;
  border-radius: 8px;
  color: white;
  background-color: rgb(0, 102, 255);
  font-weight: bold;
  border: 1px solid white;
  cursor: pointer;
}

.todo-input-wrapper button:hover {
  background-color: rgb(0, 73, 182);
}

.todos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  gap: 20px;
  font-size: 24px;
}

.todo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.todo button {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.mark-as-done-btn {
  background-color: rgb(16, 222, 16);
}

.delete-btn {
  background-color: yellow;
}
